<h1>Portfolio Items</h1>

<%= link_to "Home", home_path %>
<%= link_to "Create new Portfolio", new_portfolio_path %>
<% @portfolio.each do |portfolio| %>
  <h2><%= link_to portfolio.title, portfolio %></h2>
  <h3><%= portfolio.subtitle %></h3>
  <p><%= portfolio.body %></p>
  <%= link_to "Update Portfolio", edit_portfolio_path(portfolio) %>
  <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>
<% end %>
